<!DOCTYPE html>
<html>
  <head>
    <title>WINTR | twintr : vowels edition</title>
    <style>
    	html {
    		width: 100%;
    		height: 100%;
    	}
    	body {
    		width: 100%;
    		height: auto;
    		margin: 0;
    		padding: 0;
    		overflow-x: hidden;
    		text-align: center;
    		font-family: sans-serif;
    		font-size: 1.2em;
    		background-color: whitesmoke;
    	}
    	h1 {
    		display: block;
    		margin: 0;
    		padding: 0;
    	}
    	p {
    		display: block;
    		padding: 0;
    		margin: 0;
    		font-family: serif;
    	}
    	a {
    		margin: 0;
    		padding: 0;
    		display: inline;
    		text-decoration: none;
    		color: blue;
    	}
    	.subtitle {
    		padding: 0 5em;
    		font-size: 0.8em;
    		text-align: center;
    		font-style: italic;
    	}
    	.content {
    		width: 100%;
    		height: 100%;
    	}
    	.content-wrapper {
    		display: block;
    		width: 66%;
    		height: 100%;
    		padding: 0.5em 1em;
    		margin: 0 auto;
    		background-color: #B9B8B8;
    	}
    	@media all and (max-width:500px){
    		.content-wrapper {
    			width: 80%;
    		}
    	}
    	@media all and (min-width:1280px){
    		.content-wrapper {
    			width: 33%;
    		}
    	}
    	.tweet {
    		position: relative;
    		display: block;
    		padding: 0.5em 3em;
    		border: 1px solid #242424;
    		margin-top: 0.5em;
    		margin-bottom: 0.5em;
    		background-color: #d5d5d5;
        border-radius: 5px;
    	}
    	.vowel-count {
    		color: #A14F4F;
    		font-weight: 500;
    		line-height: 1em;
    	}
      .author-link {
        padding: 0 5em;
        font-size: 0.8em;
        font-style: italic;
        color: #2E8FAD;
        font-weight: 500;
      }
    </style>
  </head>
  <body>
    <!-- PAGE CONTENT -->
  	<div class="content">
      <!-- CONTENT WRAPPER-->
  		<div class="content-wrapper">
        <!-- PAGE HEADER-->
  			<h1>TWINTR</h1>
        <!-- end PAGE HEADER-->
        <!-- PAGE SUBTITLE-->
  			<p class="subtitle">
          A mini-app that gets the 5 latest tweets from <a href="https://twitter.com/WINTR_US" target="_blank">@wintr_us</a>, counts the vowels, capitalizes the vowels, and sorts the tweets in descending order of the vowel value.
        </p>
        <!-- end PAGE SUBTITLE-->
        <!-- TWEET LOOP-->
				<% @tweets.each do |tweet| %>
          <!-- TWEET -->
  				<div class="tweet">
            <!-- TWEET AUTHOR LINK-->
            <a class="author-link" href="<%= tweet['user']['url'] %>" target="_blank">@<%= tweet['user']['screen_name'] %></a>
            <!-- end WEET AUTHOR LINK-->
            <!-- TWEET CONTENT-->
				  	<p><%= tweet['text'] %></p>
            <!-- end TWEET CONTENT-->
            <!-- TWEET META-->
            <p class="subtitle">
              <span class="vowel-count"><%= tweet['vowel_count'] %> vowels</span>
            </p>
            <!-- end TWEET META-->
				  </div>
          <!-- end TWEET -->
				<% end %>
        <!-- end TWEET LOOP-->
  		</div>
      <!-- end CONTENT WRAPPER-->
  	</div>
    <!-- end PAGE CONTENT -->
	</body>
</html>

